harbor:
  externalURL: https://harbor.crazyzone.be
  existingSecretAdminPassword: harbor-secrets
  
  expose:
    type: ingress
    tls:
      enabled: true
      certSource: secret
      secret:
        secretName: crazyzone-be-tls
        notarySecretName: crazyzone-be-tls
    ingress:
      hosts:
        core: harbor.crazyzone.be
  persistence:
    enabled: true
    persistentVolumeClaim:
      database:
        existingClaim: harbor-storage-claim
        subPath: db
      registry:
        existingClaim: harbor-storage-claim
        subPath: registry
      chartmuseum:
        existingClaim: harbor-storage-claim
        subPath: charts
      redis:
        existingClaim: harbor-storage-claim
        subPath: redis
      trivy:
        existingClaim: harbor-storage-claim
        subPath: trivy
      jobservice:
        jobLog:
          existingClaim: harbor-storage-job-logs-claim
        scanDataExports:
          existingClaim: harbor-storage-job-exports-claim
  database:
    type: external
    external:
      host: "postgresql-rw-nodeport.services.svc.cluster.local"
      port: "5432"
      username: "harbor"
      coreDatabase: "registry"
      existingSecret: "harbor-secrets"
  redis:
    type: external
    external:
      addr: redis-master.services.svc.cluster.local:6379
      coreDatabaseIndex: "4"
      jobserviceDatabaseIndex: "5"
      registryDatabaseIndex: "6"
      trivyAdapterIndex: "7"
      harborDatabaseIndex: "8"
      cacheLayerDatabaseIndex: "9"
      username: default
      password: 9wQR3hbM7a
  metrics:
    enabled: true