immich:
  global:
    security:
      allowInsecureImages: true
  image:
    tag: v2.1.0
  immich:
    persistence:
      library:
        existingClaim: immich-immich-claim
  
  useDeprecatedPostgresChart: true
  postgresql:
    enabled: true
    image:
      repository: bitnamilegacy/postgresql
    primary:
      resourcesPreset: large
      persistence:
        existingClaim: immich-db-claim
  redis:
    enabled: true
    image:
      repository: bitnamilegacy/postgresql
    master:
      persistence:
        existingClaim: immich-redis-claim
  server:
    ingress:
      main:
        enabled: true
        annotations:
        # proxy-body-size is set to 0 to remove the body limit on file uploads
          traefik.ingress.kubernetes.io/router.middlewares: "home-immich-buffering@kubernetescrd"
        hosts:
          - host: photos.crazyzone.be
            paths:
              - path: "/"
        tls: 
        - secretName: crazyzone-be-tls
          hosts:
          - photos.crazyzone.be
