redis:
  image:
    repository: bitnamilegacy/redis
  auth:
    existingSecret: "redis-password"
    existingSecretPasswordKey: "redis-password"
  volumePermissions:
    enabled: true
    image:
      repository: bitnamilegacy/os-shell
  master:
    persistence:
      enabled: true
      existingClaim: "redis-storage-claim"
    service:
      type: NodePort
      portNames:
        redis: "tcp-redis"
      ports:
        redis: 6379
      nodePorts:
        redis: "30001"
  replica:
    replicaCount: 0
