apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: crazyzone-be
  namespace: default
spec:
  secretName: crazyzone-be-tls
  duration: 2160h
  renewBefore: 720h
  dnsNames:
    - "crazyzone.be"
    - "*.crazyzone.be"  
  additionalOutputFormats:
    - type: CombinedPEM
    - type: DER
  privateKey:
    rotationPolicy: Always    
  issuerRef:
    name: openprovider-acme-issuer
    kind: ClusterIssuer
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "default,argocd,home,jenkins,monitoring,operations,power,registry,minio" # Control destination namespaces
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true" # Auto create reflection for matching namespaces
      reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: "default,argocd,home,jenkins,monitoring,operations,power,registry,minio" # Control auto-reflection namespaces