qbittorrent:
  ingress:
    main:
      enabled: true
      ingressClassName: traefik
      hosts:
        - host: torrent.crazyzone.be
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts: [torrent.crazyzone.be]
          secretName: crazyzone-be-tls
  persistence:
    config:
      enabled: true
      type: nfs
      server: nas.crazyzone.be
      path: /volume1/docker-storage/torrent/config
      mountPath: /config
    data:
      enabled: true
      type: nfs
      server: "nas.crazyzone.be"
      path: "/volume1/docker-storage/torrent/downloads"
      mountPath: "/downloads"
  addons:
    gluetun:
      enabled: true
      container:
        env:
          FIREWALL: "on"
          FIREWALL_OUTBOUND_SUBNETS: "192.168.5.0/24,10.0.0.0/8"
          VPN_SERVICE_PROVIDER:
            secretKeyRef: { name: qtorrent-secret, key: VPN_SERVICE_PROVIDER, expandObjectName: false }
          VPN_TYPE:
            secretKeyRef: { name: qtorrent-secret, key: VPN_TYPE, expandObjectName: false }
          OPENVPN_USER:
            secretKeyRef: { name: qtorrent-secret, key: OPENVPN_USER, expandObjectName: false }
          OPENVPN_PASSWORD:
            secretKeyRef: { name: qtorrent-secret, key: OPENVPN_PASSWORD, expandObjectName: false }
          SERVER_REGIONS:
            secretKeyRef: { name: qtorrent-secret, key: SERVER_REGIONS, expandObjectName: false }
          VPN_PORT_FORWARDING:
            secretKeyRef: { name: qtorrent-secret, key: VPN_PORT_FORWARDING, expandObjectName: false }
          UPDATER_PERIOD:
            secretKeyRef: { name: qtorrent-secret, key: UPDATER_PERIOD, expandObjectName: false }
secret:
  qtorrent-secret:
    enabled: false
jackett:
  persistence:
    config:
      enabled: true
      type: nfs
      server: nas.crazyzone.be
      path: /volume1/docker-storage/torrent/jackett
      mountPath: /config
  ingress:
    main:
      enabled: true
      hosts:
        - host: jackett.crazyzone.be
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts: [jackett.crazyzone.be]
          secretName: crazyzone-be-tls