cloudnative-pg:
  fullnameOverride: postgresql

cluster:
  version:
    postgresql: "17"
  cluster:
    instances: 1
    enableSuperuserAccess: true
    superuserSecret: postgresql-user
    externalClusters: []
    storage:
      size: 50Gi
      storageClass: standard