cloudnative-pg:
  fullnameOverride: postgresql

cluster:
  version:
    postgresql: "17"
  cluster:
    instances: 1
    enableSuperuserAccess: true
    superuserSecret: postgresql-user
    externalClusters: []
    storage:
      size: 50Gi
      storageClass: standard
    services:
      additional:
        - selectorType: rw
          # Important for NodePort: nodePort is effectively create-time.
          # If the service already existed once, patch won't change it -> use replace.
          updateStrategy: replace
          serviceTemplate:
            metadata:
              name: postgresql-new-rw-nodeport
            spec:
              type: NodePort
              ports:
                - name: postgres
                  port: 5432
                  targetPort: 5432
                  nodePort: 30002