cloudnative-pg:
  fullnameOverride: postgresql
  type: postgresql
  version:
    postgresql: "17"

  cluster:
    instances: 1
    enableSuperuserAccess: true
    superuserSecret: postgresql-user

    storage:
      size: 50Gi
      storageClass: standard

    # Expose the RW service as NodePort 30000
    # (CNPG service management uses selectorType: rw|r|ro) :contentReference[oaicite:4]{index=4}
    services:
      additional:
        - selectorType: rw
          serviceTemplate:
            metadata:
              name: postgresql-rw-nodeport
            spec:
              type: NodePort
              ports:
                - name: postgresql
                  port: 5432
                  targetPort: 5432
                  nodePort: 30000