cloudnative-pg:
  fullnameOverride: postgresql

cluster:
  version:
    postgresql: "17"
  cluster:
    imageName: crazytje/cnpg-vchord:17
    instances: 1
    enableSuperuserAccess: true
    superuserSecret: postgresql-secret
    externalClusters: []
    storage:
      size: 50Gi
      storageClass: standard
    postgresql:
      parameters:
        shared_preload_libraries: "vchord.so"
    services:
      additional:
        - selectorType: rw
          updateStrategy: replace
          serviceTemplate:
            metadata:
              name: postgresql
            spec:
              type: NodePort
              ports:
                - name: postgres
                  protocol: TCP
                  port: 5432
                  targetPort: 5432
                  nodePort: 30000